.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif';
}

.text {
  font-size: 1rem;
  text-align: center;
}

.container {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: 840px;
  padding: 160px 80px;
  border-radius: var(--border-radius);
}
